pkgbase = python-ovsdbapp
	pkgdesc = A library for creating OVSDB applications
	pkgver = 2.4.0
	pkgrel = 1
	url = https://pypi.org/project/ovsdbapp/
	arch = any
	license = Apache
	checkdepends = python-hacking
	checkdepends = python-coverage
	checkdepends = python-isort
	checkdepends = python-subunit
	checkdepends = python-oslotest
	checkdepends = python-pylint
	checkdepends = python-stestr
	checkdepends = python-testscenarios
	checkdepends = python-testtools
	makedepends = python-setuptools
	makedepends = python-sphinx
	makedepends = python-openstackdocstheme
	makedepends = python-reno
	depends = openvswitch
	depends = python
	depends = python-pbr
	depends = python-fixtures
	depends = python-netaddr
	depends = python-ovs-wrapper
	source = https://pypi.io/packages/source/o/ovsdbapp/ovsdbapp-2.4.0.tar.gz
	md5sums = 366a5b495780439c8dc9a2a73a24867a
	sha256sums = 2faf26e7ce7979ba939b0afb5f191e2d4bc9a57480c11642d964ed3aaad3c51d
	sha512sums = 5229b9bd9834607b8f90457c67128fc79f536d9d721a8b54fc1a6e6bdecbb0862a71b9964adba9c93814f5786f1bde834ed3bb994bc9b8535658e4da178db434

pkgname = python-ovsdbapp
