pkgbase = python-ironicclient
	pkgdesc = Python client library for Ironic
	pkgver = 5.3.0
	pkgrel = 1
	url = https://docs.openstack.org/python-ironicclient/
	arch = any
	license = Apache
	checkdepends = python-fixtures
	checkdepends = python-requests-mock
	checkdepends = python-mock
	checkdepends = python-babel
	checkdepends = python-oslotest
	checkdepends = python-testtools
	checkdepends = python-tempest
	checkdepends = python-stestr
	checkdepends = python-ddt
	checkdepends = python-openstackclient
	depends = python-six
	depends = python-requests
	depends = python-yaml
	depends = python-openstackclient
	depends = python-prettytable
	depends = python-oslo-utils
	depends = python-oslo-serialization
	depends = python-oslo-i18n
	depends = python-osc-lib
	depends = python-keystoneauth1
	depends = python-jsonschema
	depends = python-dogpile.cache
	depends = python-appdirs
	depends = python-pbr
	source = https://opendev.org/openstack/python-ironicclient/archive/5.3.0.tar.gz
	sha512sums = 6a26de5bae04f2c98213cb17c1a4b6750a26340843ed9dc3f8f7b95507f9eae149282334cc94b9efb1616b0758c4e8bd9d50f01a888e3a8a8c5b54236719a15e

pkgname = python-ironicclient
