pkgbase = python-gabbi
	pkgdesc = Declarative HTTP testing library
	pkgver = 2.9.0
	pkgrel = 1
	url = https://github.com/cdent/gabbi
	arch = any
	license = Apache
	checkdepends = python-mock
	checkdepends = python-stestr
	checkdepends = python-coverage
	checkdepends = python-pytest-cov
	checkdepends = python-hacking
	checkdepends = python-sphinx
	makedepends = python-setuptools
	depends = python
	depends = python-pbr
	depends = python-pytest
	depends = python-six
	depends = python-pyaml
	depends = python-urllib3
	depends = python-certifi
	depends = python-jsonpath-rw-ext
	depends = python-wsgi-intercept
	depends = python-colorama
	source = https://pypi.io/packages/source/g/gabbi/gabbi-2.9.0.tar.gz
	md5sums = 049e5cab2fc6c834b8c9a2b074ae3d60
	sha256sums = ae99322f4767bac04f8bbf39584bd7f88f674cd97f1342a383554d6127d86f22
	sha512sums = 10194385e27ec15d5c3f7cc4d1e1db4e99aae276d75a5e1bc2651ef8a93a65f102e86355dca6f8ab07f7d87d8407cf95f1a13381630bf102427a2192f4d041d4

pkgname = python-gabbi
