pkgbase = python-taskflow
	pkgdesc = Taskflow structured state management library.
	pkgver = 5.2.0
	pkgrel = 1
	url = https://docs.openstack.org/taskflow/latest/
	arch = any
	license = Apache
	checkdepends = python-kazoo
	checkdepends = python-zake
	checkdepends = python-redis
	checkdepends = python-kombu
	checkdepends = python-eventlet
	checkdepends = python-sqlalchemy
	checkdepends = python-alembic
	checkdepends = python-sqlalchemy-utils
	checkdepends = python-pymysql
	checkdepends = python-psycopg2
	checkdepends = python-pydotplus
	checkdepends = python-hacking
	checkdepends = python-oslotest
	checkdepends = python-mock
	checkdepends = python-testtools
	checkdepends = python-testscenarios
	checkdepends = python-stestr
	checkdepends = python-pre-commit
	makedepends = python
	depends = python
	depends = python-pbr
	depends = python-six
	depends = python-futurist
	depends = python-fasteners
	depends = python-networkx
	depends = python-stevedore
	depends = python-jsonschema
	depends = python-automaton
	depends = python-oslo-utils
	depends = python-oslo-serialization
	depends = python-tenacity
	depends = python-cachetools
	depends = python-pydot
	optdepends = python-kazoo
	optdepends = python-zake
	optdepends = python-redis
	optdepends = python-kombu
	optdepends = python-eventlet
	optdepends = python-sqlalchemy
	optdepends = python-alembic
	optdepends = python-sqlalchemy-utils
	optdepends = python-pymysql
	optdepends = python-psycopg2
	source = https://pypi.io/packages/source/t/taskflow/taskflow-5.2.0.tar.gz
	md5sums = f6dd5039cb67d2de3c611f7949b5bb9a
	sha256sums = 3fee1454d37ae79a8170e1b048790b99380edd1c857d8fffa5f35ecb45707941
	sha512sums = 356186b3e105c353fa29c4bfcb8e501fb17922f4f8af893f9b013569dccf16272ddc8f91cbc758ba9615780f529e2a93c3cdaf0414e8df39486eb4a78ccf969e

pkgname = python-taskflow
