pkgbase = python-os-brick
	pkgdesc = OpenStack Cinder brick library for managing local volume attaches
	pkgver = 6.3.0
	pkgrel = 1
	url = https://docs.openstack.org/os-brick/
	arch = any
	license = Apache
	checkdepends = bandit
	checkdepends = python-hacking
	checkdepends = python-coverage
	checkdepends = python-ddt
	checkdepends = python-oslotest
	checkdepends = python-testscenarios
	checkdepends = python-testtools
	checkdepends = python-stestr
	checkdepends = python-pycodestyle
	checkdepends = python-doc8
	checkdepends = python-fixtures
	makedepends = python-setuptools
	makedepends = python-openstackdocstheme
	makedepends = python-reno
	makedepends = python-sphinx
	makedepends = python-os-api-ref
	makedepends = python-sphinxcontrib-apidoc
	makedepends = python-sphinx-feature-classification
	depends = python
	depends = python-pbr
	depends = python-eventlet
	depends = python-oslo-concurrency
	depends = python-oslo-context
	depends = python-oslo-log
	depends = python-oslo-i18n
	depends = python-oslo-privsep
	depends = python-oslo-serialization
	depends = python-oslo-service
	depends = python-oslo-utils
	depends = python-requests
	depends = python-tenacity
	depends = python-os-win
	source = https://pypi.io/packages/source/o/os-brick/os-brick-6.3.0.tar.gz
	md5sums = 7ca45e560d633a6ab794737c3a72698b
	sha256sums = 207c20f935ac9085127ceaa1f87e855b5be0dc8d9d46ede7593aed0fab44a061
	sha512sums = 260c0b8edeceefc86e983a2788fc3a654060461eec9b8668a2922f49d7752a32c192c62bef0b074e96e573d0706b3ea3b52d30a5ca311f8e8c7879279b2442aa

pkgname = python-os-brick
