pkgbase = python-neutron-fwaas
	pkgdesc = OpenStack Networking FWaaS
	pkgver = 18.0.0
	pkgrel = 1
	url = https://docs.openstack.org/neutron-fwaas/latest/
	arch = any
	license = Apache
	checkdepends = python-hacking
	checkdepends = python-coverage
	checkdepends = python-mock
	checkdepends = python-subunit
	checkdepends = python-requests-mock
	checkdepends = python-oslo-concurrency
	checkdepends = python-stestr
	checkdepends = python-testresources
	checkdepends = python-testtools
	checkdepends = python-testscenarios
	checkdepends = python-webob
	checkdepends = python-webtest
	checkdepends = python-oslotest
	checkdepends = python-pymysql
	checkdepends = python-psycopg2
	checkdepends = python-ddt
	checkdepends = python-pygments
	makedepends = python-setuptools
	depends = python
	depends = python-pbr
	depends = python-eventlet
	depends = python-netaddr
	depends = python-sqlalchemy
	depends = python-alembic
	depends = python-neutron-lib
	depends = python-os-ken
	depends = python-oslo-config
	depends = python-oslo-db
	depends = python-oslo-log
	depends = python-oslo-messaging
	depends = python-oslo-service
	depends = python-oslo-utils
	depends = python-oslo-privsep
	depends = python-pyroute2
	depends = openstack-neutron
	depends = python-pyzmq
	options = !emptydirs
	source = https://pypi.io/packages/source/n/neutron-fwaas/neutron-fwaas-18.0.0.tar.gz
	md5sums = 870fc8a731bdca1e237b904eaaef759e
	sha256sums = 3f13468fec81cef980cb1d528194e33fd2d3ea1441ea2139988355077445a71d
	sha512sums = 622fce7d5792ef5afe4e1d678c703100a53f41ee2d3a06c1635830840839bf19ba557791c1dd2e2c854c291e259e83f2d6b791634c4225b19805b6c0b5e73ce6

pkgname = python-neutron-fwaas
