pkgbase = python-pypowervm
	pkgdesc = Python binding for the PowerVM REST API
	pkgver = 1.1.27
	pkgrel = 2
	url = http://github.com/powervm/
	arch = any
	license = Apache
	checkdepends = python-hacking
	checkdepends = python-coverage
	checkdepends = python-discover
	checkdepends = python-fixtures
	checkdepends = python-pylint
	checkdepends = python-subunit
	checkdepends = python-sphinx
	checkdepends = python-oslosphinx
	checkdepends = python-stestr
	checkdepends = python-testscenarios
	checkdepends = python-testtools
	checkdepends = python-mock
	makedepends = python-setuptools
	depends = python
	depends = python-pbr
	depends = python-babel
	depends = python-lxml
	depends = python-oslo-concurrency
	depends = python-oslo-context
	depends = python-oslo-i18n
	depends = python-oslo-log
	depends = python-oslo-utils
	depends = python-pyasn1-modules
	depends = python-pyasn1
	depends = python-pytz
	depends = python-taskflow
	depends = python-requests
	depends = python-six
	source = https://pypi.io/packages/source/p/pypowervm/pypowervm-1.1.27.tar.gz
	source = python-pypowervm-1.1.27-remove-failing-tests.patch
	md5sums = 4a16d0f483ec153dfd696146bfd8f9c1
	md5sums = bb93a88cd0a31bb6d8d13d479ef25e68
	sha256sums = d792d8a6390c25b742142f39d201f6b416b44b960434fd42a0241b2489e258c4
	sha256sums = 62fe0c0660b707672b2c49dc2b0358d74060f295c54b0f146d6ebda17e1a0906
	sha512sums = 8397ae8418965ee296939adfd6e23c2144fdd69deab5990da0fecd8ed5bd9c31d7e4c08d7fbe5d434056158c9db46b4cfa53b2fc0ef2efe56a5ead08c0a8c187
	sha512sums = 7552eafe4babacd723be8455e86f7c78bf96090abf95bd4806dddae0a4a5655a3677efe6430c984b76ee5c13b7d0e60a31cca4a74bcdd0b7a312b60dbc23a86f

pkgname = python-pypowervm
