pkgbase = python-oslo-reports
	pkgdesc = Oslo Reports library
	pkgver = 3.0.0
	pkgrel = 1
	url = https://docs.openstack.org/oslo.reports/latest/
	arch = any
	license = Apache
	checkdepends = python-hacking
	checkdepends = python-oslotest
	checkdepends = python-stestr
	checkdepends = python-oslo-config
	checkdepends = python-eventlet
	checkdepends = python-greenlet
	checkdepends = python-coverage
	checkdepends = python-pre-commit
	checkdepends = bandit
	makedepends = python-setuptools
	makedepends = python-sphinx
	makedepends = python-sphinxcontrib-apidoc
	makedepends = python-openstackdocstheme
	makedepends = python-reno
	depends = python
	depends = python-pbr
	depends = python-jinja
	depends = python-oslo-serialization
	depends = python-psutil
	depends = python-oslo-i18n
	depends = python-oslo-utils
	options = !emptydirs
	source = https://pypi.io/packages/source/o/oslo.reports/oslo.reports-3.0.0.tar.gz
	md5sums = b7870d2bd59eab7d4cc55a0ae67d4337
	sha256sums = 7ce5e26ff021f17b8af5c0abaa1c8b6d465ccd153d6c2bac3f28f637039bd043
	sha512sums = 1a02db4bd85c91b6bbb4d50c01f5911ebf0905d982c82eba0edf7016919d40f81fec1572f9a945a69a40e6fe7047d7766a1a29b9a58fae4d37bfbfe378e13905

pkgname = python-oslo-reports
