pkgbase = python-keystonemiddleware
	pkgdesc = Middleware for OpenStack Identity
	pkgver = 10.3.0
	pkgrel = 1
	url = https://docs.openstack.org/keystonemiddleware/latest/
	arch = any
	license = Apache
	checkdepends = python-hacking
	checkdepends = python-flake8-docstrings
	checkdepends = python-coverage
	checkdepends = python-cryptography
	checkdepends = python-fixtures
	checkdepends = python-oslotest
	checkdepends = python-requests-mock
	checkdepends = python-stevedore
	checkdepends = python-stestr
	checkdepends = python-testresources
	checkdepends = python-testtools
	checkdepends = python-webtest
	checkdepends = python-oslo-messaging
	checkdepends = bandit
	makedepends = python-setuptools
	depends = python
	depends = python-keystoneauth1
	depends = python-oslo-cache
	depends = python-oslo-config
	depends = python-oslo-context
	depends = python-oslo-i18n
	depends = python-oslo-log
	depends = python-oslo-serialization
	depends = python-oslo-utils
	depends = python-pbr
	depends = python-pycadf
	depends = python-keystoneclient
	depends = python-requests
	depends = python-six
	depends = python-webob
	depends = python-memcached
	options = !emptydirs
	source = https://pypi.io/packages/source/k/keystonemiddleware/keystonemiddleware-10.3.0.tar.gz
	md5sums = 163e01d69879224f6f298a7b62953dc3
	sha256sums = d979ca25e12daf26d52ba712ec69469ef848a86447d341dc8b8a879d6b0f7db7
	sha512sums = 191f9084abfe9a4ea108705d90cb9d7412cdc22b53a03c61bf009d9e042512e9b93dc65afcedb89e56db4b7cc37f00885516e5d73774f55c86d01e1643e6edbe

pkgname = python-keystonemiddleware
