pkgbase = python-oslo-metrics
	pkgdesc = Oslo Metrics API
	pkgver = 0.6.0
	pkgrel = 1
	url = https://docs.openstack.org/oslo.metrics/latest/
	arch = any
	license = Apache
	checkdepends = python-hacking
	checkdepends = python-oslotest
	checkdepends = python-coverage
	checkdepends = python-stestr
	checkdepends = bandit
	makedepends = python-setuptools
	makedepends = python-openstackdocstheme
	makedepends = python-reno
	makedepends = python-sphinx
	makedepends = python-sphinxcontrib-apidoc
	makedepends = python-oslotest
	depends = python
	depends = python-pbr
	depends = python-oslo-utils
	depends = python-oslo-log
	depends = python-oslo-config
	depends = python-prometheus_client
	options = !emptydirs
	source = https://pypi.io/packages/source/o/oslo.metrics/oslo.metrics-0.6.0.tar.gz
	md5sums = ddb5d69132d317db40f58aad8906ab91
	sha256sums = a937b0ea597de8e9957a41c3c80e5d408bb626652a79e87d3ff9600f1b15c850
	sha512sums = 3f8fa533b540dda0cda46ccd89bde687b5953fdea2d25f53063058f09afbe9c11e71567ac5733957de4d123e99add4fe5aaff8dac0473fba76626f268cea5e7d

pkgname = python-oslo-metrics
