pkgbase = python-glance-store
	pkgdesc = OpenStack Image Service Store library
	pkgver = 4.6.0
	pkgrel = 1
	url = https://docs.openstack.org/glance_store/latest/
	arch = any
	license = Apache
	checkdepends = python-hacking
	checkdepends = python-doc8
	checkdepends = python-coverage
	checkdepends = python-fixtures
	checkdepends = python-subunit
	checkdepends = python-requests-mock
	checkdepends = python-retrying
	checkdepends = python-stestr
	checkdepends = python-testscenarios
	checkdepends = python-testtools
	checkdepends = python-oslotest
	checkdepends = python-boto3
	checkdepends = python-oslo-vmware
	checkdepends = python-httplib2
	checkdepends = python-swiftclient
	checkdepends = python-cinderclient
	checkdepends = python-os-brick
	checkdepends = python-oslo-rootwrap
	checkdepends = python-oslo-privsep
	makedepends = python-setuptools
	makedepends = python-sphinx
	makedepends = python-openstackdocstheme
	makedepends = python-reno
	makedepends = python-sphinxcontrib-apidoc
	depends = python
	depends = python-oslo-config
	depends = python-oslo-i18n
	depends = python-oslo-serialization
	depends = python-oslo-utils
	depends = python-oslo-concurrency
	depends = python-stevedore
	depends = python-eventlet
	depends = python-six
	depends = python-jsonschema
	depends = python-keystoneauth1
	depends = python-keystoneclient
	depends = python-requests
	source = https://pypi.io/packages/source/g/glance_store/glance_store-4.6.0.tar.gz
	md5sums = 402b4f1115b4082f8cabb6cccec15841
	sha256sums = 64c34dad50dd1f461c4c6c519c1db66a0097f7cebadbff18525aac9cd189723d
	sha512sums = 514769f0afccfd6f4a5b4ca0da2d8765a58bfbde16d7118a45e80325c1289f46104a1059bf3e39fe020311cd6ea6af2642f9e80a00b38a3e50f26f584ab5d7b6

pkgname = python-glance-store
