pkgbase = python-neutron-lib
	pkgdesc = Neutron shared routines and utilities
	pkgver = 3.7.0
	pkgrel = 1
	url = https://docs.openstack.org/neutron-lib/latest/
	arch = any
	license = Apache
	checkdepends = python-hacking
	checkdepends = bandit
	checkdepends = python-coverage
	checkdepends = python-fixtures
	checkdepends = python-flake8-import-order
	checkdepends = python-pylint
	checkdepends = python-isort
	checkdepends = python-subunit
	checkdepends = python-oslotest
	checkdepends = python-reno
	checkdepends = python-stestr
	checkdepends = python-testresources
	checkdepends = python-testscenarios
	checkdepends = python-testtools
	makedepends = python-setuptools
	makedepends = python-sphinx
	makedepends = python-openstackdocstheme
	makedepends = python-os-api-ref
	makedepends = python-reno
	depends = python
	depends = python-pbr
	depends = python-sqlalchemy
	depends = python-pecan
	depends = python-keystoneauth1
	depends = python-netaddr
	depends = python-stevedore
	depends = python-os-ken
	depends = python-oslo-concurrency
	depends = python-oslo-config
	depends = python-oslo-context
	depends = python-oslo-db
	depends = python-oslo-i18n
	depends = python-oslo-log
	depends = python-oslo-messaging
	depends = python-oslo-policy
	depends = python-oslo-serialization
	depends = python-oslo-service
	depends = python-oslo-utils
	depends = python-oslo-versionedobjects
	depends = python-osprofiler
	depends = python-setproctitle
	depends = python-webob
	depends = python-os-traits
	options = !emptydirs
	source = https://github.com/openstack/neutron-lib/archive/refs/tags/3.7.0.tar.gz
	md5sums = d99dfca9dc743b32a81303461e7ce8e4
	sha256sums = 8b5b3990b24d2dca479e7f040170da41d0e82b6b8a86c761407392a7838569e8
	sha512sums = 7a082523d740fac9ea3d052e3701f924ff01bd0418679f502c7262e53ff3d53126c2385fd2831b7211780299545a30c91829a86d3dacc4a6ef9b5bade36ad9be

pkgname = python-neutron-lib
