pkgbase = python-os-traits
	pkgdesc = A library containing standardized trait strings
	pkgver = 3.0.0
	pkgrel = 1
	url = https://docs.openstack.org/os-traits/latest/
	arch = any
	license = Apache
	checkdepends = python-hacking
	checkdepends = python-coverage
	checkdepends = python-oslotest
	checkdepends = python-stestr
	checkdepends = python-testscenarios
	checkdepends = python-testtools
	makedepends = python-setuptools
	makedepends = python-sphinx
	makedepends = python-openstackdocstheme
	makedepends = python-reno
	depends = python
	depends = python-pbr
	source = https://pypi.io/packages/source/o/os-traits/os-traits-3.0.0.tar.gz
	md5sums = 4719c11eaa0b0a6416c989fbdf5a1b7c
	sha256sums = 4a69bb8a1499bba1616302967c76ab65374269c66924ceb174677e37f6b975c9
	sha512sums = b5d9c3039a8d05e634de92d7ad27489bc51548c947b7e0628cf23edbe7712d8da298d937e2aaae6c54a08b193c6df73f6ea9e1cfa48d01251fe2ea18943ca501

pkgname = python-os-traits
