pkgbase = python-os-vif
	pkgdesc = A library for plugging and unplugging virtual interfaces in OpenStack.
	pkgver = 3.2.0
	pkgrel = 1
	url = https://docs.openstack.org/os-vif/latest/
	arch = any
	license = Apache
	checkdepends = python-coverage
	checkdepends = python-oslotest
	checkdepends = python-ovs-wrapper
	checkdepends = python-stestr
	checkdepends = python-testscenarios
	makedepends = python-setuptools
	makedepends = python-sphinx
	makedepends = python-openstackdocstheme
	makedepends = python-reno
	depends = python
	depends = python-pbr
	depends = python-netaddr
	depends = python-oslo-concurrency
	depends = python-oslo-config
	depends = python-oslo-log
	depends = python-oslo-i18n
	depends = python-oslo-privsep
	depends = python-oslo-versionedobjects
	depends = python-ovsdbapp
	depends = python-pyroute2
	depends = python-stevedore
	depends = python-debtcollector
	source = https://pypi.io/packages/source/o/os_vif/os_vif-3.2.0.tar.gz
	md5sums = 2edf82c0189f6f29786b88818f0f1cc7
	sha256sums = e1146276f7695457ef4191dc92ff6ad94ea74d79b5d699b303ce69aa3195e8d6
	sha512sums = ddc9acf3cfd06e6302b3b4a5d506b50626c82880ccdf796e84cfd16de1ed007b46325893c1895559b70ed0b30e50101b206062fd308f98111d010113381662d8

pkgname = python-os-vif
