pkgbase = python-oslo-service
	pkgdesc = Oslo Service API
	pkgver = 3.1.1
	pkgrel = 1
	url = https://docs.openstack.org/oslo.service/latest/
	arch = any
	license = Apache
	checkdepends = python-fixtures
	checkdepends = python-hacking
	checkdepends = python-oslotest
	checkdepends = python-requests
	checkdepends = python-stestr
	checkdepends = python-coverage
	checkdepends = bandit
	checkdepends = python-pre-commit
	makedepends = python-setuptools
	makedepends = python-sphinx
	makedepends = python-openstackdocstheme
	makedepends = python-reno
	depends = python
	depends = python-pbr
	depends = python-webob
	depends = python-debtcollector
	depends = python-eventlet
	depends = python-fixtures
	depends = python-greenlet
	depends = python-oslo-utils
	depends = python-oslo-concurrency
	depends = python-oslo-config
	depends = python-oslo-log
	depends = python-oslo-i18n
	depends = python-pastedeploy
	depends = python-routes
	depends = python-paste
	depends = python-yappi
	options = !emptydirs
	source = https://pypi.io/packages/source/o/oslo.service/oslo.service-3.1.1.tar.gz
	md5sums = 17bed114d1e9bf0f612cfdf324230d06
	sha256sums = ea0b93f922ef49ceca475f2dab78468c76281f73170614599e2c83420f8ea439
	sha512sums = 53e5e3dc6f25105c21eaf5fb7dd6910c4e5219c5d5effc6993c13b04bd68cdab4417a39298c41d1fee551850abf4cf6c5ba3933b8964ed054615cf96c69f51c5

pkgname = python-oslo-service
