pkgbase = python-confluent-kafka
	pkgdesc = Confluent's Python client for Apache Kafka
	pkgver = 2.1.1
	pkgrel = 1
	url = https://github.com/confluentinc/confluent-kafka-python
	arch = x86_64
	arch = i686
	arch = arm
	arch = armv6h
	arch = armv7h
	arch = aarch64
	license = Apache
	makedepends = librdkafka
	makedepends = python
	makedepends = python-avro
	makedepends = python-fastavro
	makedepends = python-requests
	makedepends = python-pytest-timeout
	makedepends = python-jsonschema
	makedepends = python-pyrsistent
	makedepends = python-protobuf
	makedepends = python-setuptools
	source = https://pypi.io/packages/source/c/confluent-kafka/confluent-kafka-2.1.1.tar.gz
	md5sums = ea8bda1b0f626be9362c2cdc73363e88
	sha256sums = a665e74030a85c5f4203538cfe77e401133a849c4b92052a60225b26052a7e9d
	sha512sums = b51fdfc8c4c96eba0bd01a19b566134633df8ffc0e13cf47cae63d0b6e510fee997174b4dd112a9edffd9a3421d9d5eec1e9479ed309f23843e8fa88c3867d3e

pkgname = python-confluent-kafka
