pkgbase = python-os-testr
	pkgdesc = A testr wrapper to provide additional functionality
	pkgver = 3.0.0
	pkgrel = 1
	url = https://pypi.python.org/pypi/os-testr
	arch = any
	license = Apache
	makedepends = python
	makedepends = python-setuptools
	source = https://github.com/openstack/os-testr/archive/refs/tags/3.0.0.tar.gz
	md5sums = 2b545ee38aee1658888d5b82a6c92bf9

pkgname = python-os-testr
	depends = python
	depends = python-subunit
	depends = python-testtools
	depends = python-stestr>=1.0.0
	depends = python-pbr
