pkgbase = python-os-api-ref
	pkgdesc = Sphinx Extensions to support API reference sites in OpenStack
	pkgver = 3.0.0
	pkgrel = 1
	url = https://docs.openstack.org/os-api-ref/latest/
	arch = any
	license = Apache
	checkdepends = python-hacking
	checkdepends = python-coverage
	checkdepends = python-subunit
	checkdepends = python-testrepository
	checkdepends = python-testtools
	checkdepends = python-beautifulsoup4
	checkdepends = python-stestr
	makedepends = python
	makedepends = python-setuptools
	depends = python
	depends = python-pbr
	depends = python-pyaml
	depends = python-six
	depends = python-sphinx
	depends = python-openstackdocstheme
	source = https://pypi.io/packages/source/o/os-api-ref/os-api-ref-3.0.0.tar.gz
	md5sums = 1d2a25ceb619895fd8a42b37c3379945
	sha256sums = 72f8a3b2ef6dbf2cc5beba583a1742cd9cc804e3bcbf89e2b6084167648d329b
	sha512sums = ad7030cc91eacb482da19e42d94a81af4c3715f090966e33063d49693f567b0653e2e4a51d9526fe0e2a63480493f148582f96dc811b24e26534c9c05edf3897

pkgname = python-os-api-ref
