pkgbase = python-oslo-rootwrap
	pkgdesc = Oslo Rootwrap
	pkgver = 7.0.1
	pkgrel = 1
	url = https://docs.openstack.org/oslo.rootwrap/latest/
	arch = any
	license = Apache
	checkdepends = python-hacking
	checkdepends = python-fixtures
	checkdepends = python-testtools
	checkdepends = python-stestr
	checkdepends = python-oslotest
	checkdepends = python-eventlet
	checkdepends = python-reno
	checkdepends = python-pre-commit
	checkdepends = bandit
	makedepends = python-setuptools
	makedepends = python-openstackdocstheme
	makedepends = python-sphinx
	makedepends = python-reno
	makedepends = python-mock
	makedepends = python-fixtures
	depends = python
	depends = python-pbr
	options = !emptydirs
	source = https://pypi.io/packages/source/o/oslo.rootwrap/oslo.rootwrap-7.0.1.tar.gz
	source = 0000-lost-binary2string.patch
	md5sums = 61cdf3783ef3d46c39d6fbc2bfb7fe25
	md5sums = ca8ec857ae77ffaa37f72ae5ffe13ec2
	sha256sums = 951aa4a9d58a3bff79e8c70a49601f74dec4e03098ad03e2c003e7ce967082ca
	sha256sums = 67b36fdbb5bd83062a2f1ec0c9b7f168b4f9a082fe4c845d91dc977580897cdd
	sha512sums = 94fc3aacdeee9c846ae6b8a3e5dab8ab2b7ddffe7581578e8cee58e2e6d058a12a840525ace8473b3ef507da532e0b0b86828b84d03c1ef3c1672fd68298b316
	sha512sums = dbce2e79568b8ff36638c50d15c9cdadcf834c123f95938c5f231295e121323258e9a0ec215c6e74a7a6518685acc5466c5620c92278174235913628d1d7c0af

pkgname = python-oslo-rootwrap
