pkgbase = openstack-tempest
	pkgdesc = OpenStack Integration Testing
	pkgver = 35.0.0
	pkgrel = 1
	url = https://docs.openstack.org/tempest/latest/
	arch = any
	license = Apache
	checkdepends = python-hacking
	checkdepends = python-coverage
	checkdepends = python-oslotest
	checkdepends = python-pycodestyle
	makedepends = python-openstackdocstheme
	makedepends = python-sphinx
	makedepends = python-sphinxcontrib-svg2pdfconverter
	makedepends = python-setuptools
	depends = python
	depends = python-pbr
	depends = python-cliff
	depends = python-jsonschema
	depends = python-testtools
	depends = python-paramiko
	depends = python-netaddr
	depends = python-oslo-concurrency
	depends = python-oslo-config
	depends = python-oslo-log
	depends = python-stestr
	depends = python-oslo-serialization
	depends = python-oslo-utils
	depends = python-fixtures
	depends = python-pyaml
	depends = python-subunit
	depends = python-stevedore
	depends = python-prettytable
	depends = python-urllib3
	depends = python-debtcollector
	depends = python-cryptography
	depends = python-defusedxml
	depends = python-fasteners
	source = https://pypi.io/packages/source/t/tempest/tempest-35.0.0.tar.gz
	md5sums = 421eb03a4dd0597846e2ed30b4a15ddc
	sha256sums = 4ca1a03803aa6bed5fdf25c8916c6dd9b571e144ff21f42973dacd0787cb930d
	sha512sums = c8986e13c821c8861f0b9c1b37c71a1017cd6de480a5efdcc646b51d1c7032a236f98735d0f77240fc9ec9eb711638a12f7a4a8d67e99c76bc1f6b561c39c61d

pkgname = openstack-tempest

pkgname = openstack-tempest-doc
