pkgbase = python-os-win
	pkgdesc = Windows / Hyper-V library for OpenStack projects.
	pkgver = 5.9.0
	pkgrel = 1
	url = http://www.cloudbase.it/
	arch = any
	license = Apache
	checkdepends = python-hacking
	checkdepends = python-coverage
	checkdepends = python-ddt
	checkdepends = python-oslotest
	checkdepends = python-stestr
	checkdepends = python-testscenarios
	checkdepends = python-testtools
	makedepends = python-setuptools
	depends = python
	depends = python-pbr
	depends = python-eventlet
	depends = python-oslo-concurrency
	depends = python-oslo-config
	depends = python-oslo-log
	depends = python-oslo-utils
	depends = python-oslo-i18n
	source = https://pypi.io/packages/source/o/os-win/os-win-5.9.0.tar.gz
	md5sums = fad432cf40fef0f7d0c396f6df1994a8
	sha256sums = 4d4ad5122060cdd1312d6909921c7280c7159fa6811a966fa11688fc141808c0
	sha512sums = 86ad00d172fbfd62da63305ae57ff5c6041ab707d01d589e8693895863b95aef97e5f8f4eb57c14fb0405dfe12b9b9659258d377c96b03e558913bef01dbac92

pkgname = python-os-win
