pkgbase = python-neutron-fwaas-dashboard
	pkgdesc = Neutron FWaaS Dashboard
	pkgver = 5.0.0
	pkgrel = 1
	url = https://docs.openstack.org/neutron-fwaas-dashboard/latest/
	arch = any
	license = Apache
	checkdepends = python-hacking
	checkdepends = python-coverage
	checkdepends = python-sphinx
	checkdepends = python-openstackdocstheme
	checkdepends = python-reno
	checkdepends = python-selenium
	checkdepends = python-xvfbwrapper
	checkdepends = python-testtools
	checkdepends = firefox
	checkdepends = xorg-server-xvfb
	makedepends = python-setuptools
	depends = python
	depends = python-pbr
	depends = openstack-horizon
	depends = python-neutronclient
	options = !emptydirs
	source = https://pypi.io/packages/source/n/neutron-fwaas-dashboard/neutron-fwaas-dashboard-5.0.0.tar.gz
	md5sums = 17258d97ce64079aec4440233fe7f920
	sha256sums = c93845d99a75b419d698d00fcc43215935f1ed162b233a52615b4528d71db531
	sha512sums = acde70ff05f678479130c5ca62567430d6002552569a2f9f093f2238d099701f2ed5f6b88deb5156f66bee606c33e8ccaad422549cb8e225fae75b888b963529

pkgname = python-neutron-fwaas-dashboard
	backup = etc/neutron/neutron-fwaas-policy.json
