pkgbase = python-neutron-vpnaas
	pkgdesc = OpenStack Networking FWaaS
	pkgver = 22.0.0
	pkgrel = 1
	url = https://docs.openstack.org/neutron-fwaas/latest/
	arch = any
	license = Apache
	checkdepends = python-hacking
	checkdepends = python-coverage
	checkdepends = python-mock
	checkdepends = python-subunit
	checkdepends = python-requests-mock
	checkdepends = python-oslo-concurrency
	checkdepends = python-stestr
	checkdepends = python-testresources
	checkdepends = python-testtools
	checkdepends = python-testscenarios
	checkdepends = python-webob
	checkdepends = python-webtest
	checkdepends = python-oslotest
	checkdepends = python-pymysql
	checkdepends = python-psycopg2
	checkdepends = python-ddt
	checkdepends = python-pygments
	checkdepends = postgresql-libs
	checkdepends = libnetfilter_log
	makedepends = python-setuptools
	depends = python
	depends = python-pbr
	depends = python-eventlet
	depends = python-netaddr
	depends = python-sqlalchemy
	depends = python-alembic
	depends = python-neutron-lib
	depends = python-os-ken
	depends = python-oslo-config
	depends = python-oslo-db
	depends = python-oslo-log
	depends = python-oslo-messaging
	depends = python-oslo-service
	depends = python-oslo-utils
	depends = python-oslo-privsep
	depends = python-pyroute2
	depends = openstack-neutron
	depends = python-pyzmq
	options = !emptydirs
	source = https://pypi.io/packages/source/n/neutron-vpnaas/neutron-vpnaas-22.0.0.tar.gz
	md5sums = 0bccf4ad2aa4c47c6f194f705fe5bf4e
	sha256sums = 5c8df2fbe926210b0149ae10cebbbeae3bb863585db860a07c575b836917f8c9
	sha512sums = e9249b0a817c49e4008cd2383f34ea1d8186685b0727265fb222e32dc99bdb87a1ffa3147040743048a981de0abba5a9c633e28762be0556afea2003c553adb3

pkgname = python-neutron-vpnaas
