pkgbase = python-sphinx-testing
	pkgdesc = testing utility classes and functions for Sphinx extensions
	pkgver = 1.0.1
	pkgrel = 1
	url = https://github.com/sphinx-doc/sphinx-testing
	arch = any
	license = BSD
	checkdepends = python-nose
	checkdepends = flake8
	makedepends = python-setuptools
	depends = python-sphinx
	source = python-sphinx-testing-1.0.1.tar.gz::https://github.com/sphinx-doc/sphinx-testing/archive/refs/tags/1.0.1.tar.gz
	source = remove-mode-u-from-open.patch
	sha512sums = a18bba35989dbe43bcd1e8439563920215b6c3d0cb3481b652f1e2530e17d7b8b9d1ecc5470023370f24c71ec6b92b662db6d94dd1f17150cac0e3a7cffc8acd
	sha512sums = 8228ab3c51363f94444b7a4dce29ffcb8a510719d85064772c1388f1666fe24dfd4e18e780d54e56fd5926ab2b2b98dd806685cf1174292ad960363167d088d9

pkgname = python-sphinx-testing
