pkgbase = openstack-keystone
	pkgdesc = OpenStack Identity
	pkgver = 23.0.0
	pkgrel = 1
	url = https://opendev.org/openstack/keystone
	arch = any
	license = Apache
	checkdepends = python-pytest
	checkdepends = python-hacking
	checkdepends = python-pep257
	checkdepends = python-flake8-docstrings
	checkdepends = python-bashate
	checkdepends = python-stestr
	checkdepends = python-freezegun
	checkdepends = python-pytz
	checkdepends = python-oslo-db
	checkdepends = python-coverage
	checkdepends = python-fixtures
	checkdepends = python-lxml
	checkdepends = python-oslotest
	checkdepends = python-webtest
	checkdepends = python-testtools
	checkdepends = openstack-tempest
	checkdepends = python-requests
	makedepends = python-setuptools
	makedepends = python-openstackdocstheme
	makedepends = python-sphinx
	makedepends = python-sphinxcontrib-apidoc
	makedepends = python-sphinxcontrib-seqdiag
	makedepends = python-sphinxcontrib-blockdiag
	makedepends = python-reno
	makedepends = python-os-api-ref
	makedepends = python-ldap
	makedepends = python-ldappool
	depends = python
	depends = python-lxml
	depends = python-ldap
	depends = python-ldappool
	depends = python-freezegun
	depends = python-pbr
	depends = python-webob
	depends = python-flask
	depends = python-flask-restful
	depends = python-cryptography
	depends = python-sqlalchemy
	depends = python-sqlalchemy-migrate
	depends = python-stevedore
	depends = python-passlib
	depends = python-keystoneclient
	depends = python-keystonemiddleware
	depends = python-bcrypt
	depends = python-scrypt
	depends = python-oslo-cache
	depends = python-oslo-config
	depends = python-oslo-context
	depends = python-oslo-messaging
	depends = python-oslo-db
	depends = python-oslo-i18n
	depends = python-oslo-log
	depends = python-oslo-middleware
	depends = python-oslo-policy
	depends = python-oslo-serialization
	depends = python-oslo-upgradecheck
	depends = python-oslo-utils
	depends = python-oauthlib
	depends = python-pysaml2
	depends = python-pyjwt
	depends = python-dogpile.cache
	depends = python-jsonschema
	depends = python-pycadf
	depends = python-msgpack
	depends = python-osprofiler
	depends = python-pytz
	options = !emptydirs
	source = https://pypi.io/packages/source/k/keystone/keystone-23.0.0.tar.gz
	source = sysusers.conf
	source = tmpfiles.conf
	source = wsgi-keystone.conf
	source = 0000-httpd-config-path.patch
	md5sums = 1352f1890e4555e61906bc5698c89254
	md5sums = a110a86d00a4d9feea328be3b3659cf2
	md5sums = 1c5d5d6f9e2d5fd7af60ead1c722fd62
	md5sums = 151474571c660abda387ead70a1a4da1
	md5sums = abb36174e6c7c58a35e038c74a43dae5
	sha256sums = b74adabe8f7e1f69d87281a4be8c67e58c473937faf2f4a89fe5532459fa20d6
	sha256sums = 008afd2e7e24945a7d2609f936ae52c829157330cac03628c44a71aff512fb85
	sha256sums = f74083084fe20aaa5cd83d321d00d0f7f64fc7ff25d8723faea5ca6317639f14
	sha256sums = fc44ad3720e7a58f281efa01e4a6ec02041a30411084d661f34fd393d76a44e5
	sha256sums = 5a963943b7b640695d31d0f920a04fdd6bda80cff0bed4c463475bb9c1dd4582
	sha512sums = 7b7d91e812968d98041ccd98d01d019eb4d362da9dbc755bcfe0c0ff474166142fd179496c03c8d3bd7ea1fcccafe377c71d024b8e59c629b8ea017d549ba567
	sha512sums = 01a24019b32684ae339b058742b63fc69b17eb97d5b47e90266dad32729293bead3495edb58960a974a7c88d3f35ccd158730f9c625ef9bc4d6f0b1ff319fdf8
	sha512sums = 664014795d38fe2eac93a11a1233b59098fe475ca57d31f4c2578dd5e968708a51036fefde34f43ff4f5599820c9ededb7e129dcc78bebcf00b56a56784ec9f3
	sha512sums = 9f6449f18757cefb349356e956e964bb21e225de28f961ddc4a3ff024289d5dfe1498c6950823880c5f806f5f2bf41c53c8ce2301728a046b76c554a51c81dca
	sha512sums = db34e147efc7d178e43c992463303ebe89823b02a097582db36f014f1fbb2624cc6b3fc2dfd918c8b0a091a113fdc3554c90adfe6d36623fee4f428a9da773f1

pkgname = openstack-keystone
