pkgbase = python-oslo-messaging
	pkgdesc = Oslo Messaging API
	pkgver = 14.3.1
	pkgrel = 1
	url = https://docs.openstack.org/oslo.messaging/latest/
	arch = any
	license = Apache
	checkdepends = python-hacking
	checkdepends = python-fixtures
	checkdepends = python-stestr
	checkdepends = python-pre-commit
	checkdepends = python-testscenarios
	checkdepends = python-testtools
	checkdepends = python-oslotest
	checkdepends = python-pifpaf
	checkdepends = python-confluent-kafka
	checkdepends = python-coverage
	checkdepends = python-pyngus
	checkdepends = bandit
	checkdepends = python-eventlet
	checkdepends = python-greenlet
	makedepends = python-setuptools
	makedepends = python-openstackdocstheme
	makedepends = python-sphinx
	makedepends = python-reno
	makedepends = python-fixtures
	makedepends = python-confluent-kafka
	makedepends = python-pyngus
	makedepends = python-tenacity
	depends = python
	depends = python-pbr
	depends = python-futurist
	depends = python-oslo-config
	depends = python-oslo-log
	depends = python-oslo-utils
	depends = python-oslo-serialization
	depends = python-oslo-service
	depends = python-oslo-metrics
	depends = python-stevedore
	depends = python-debtcollector
	depends = python-cachetools
	depends = python-webob
	depends = python-pyaml
	depends = python-amqp
	depends = python-kombu
	depends = python-oslo-middleware
	options = !emptydirs
	source = https://pypi.io/packages/source/o/oslo.messaging/oslo.messaging-14.3.1.tar.gz
	md5sums = e838d5283b6d6feda313c5b4c98b02c5
	sha256sums = 6170057dc88a40f32a558fb9ffd7e2d8925d5068368b6ad45438ea823e1fc189
	sha512sums = 6691a2a55e25d89e8f86b320d48d3e6f1cb73de35d32746322d1ce246c239c7b1367c88f25afd418834f76e8302a88da375998d195ace61e693a0234d5118d9f

pkgname = python-oslo-messaging
